[submodule "external/openal-soft"]
	path = external/openal-soft
	url = https://github.com/kcat/openal-soft
[submodule "external/assimp"]
	path = external/assimp
	url = https://github.com/assimp/assimp
[submodule "external/sdl"]
	path = external/sdl
	url = https://github.com/libsdl-org/sdl
[submodule "external/SDL_image"]
	path = external/SDL_image
	url = https://github.com/libsdl-org/SDL_image
[submodule "external/SDL_ttf"]
	path = external/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf
[submodule "external/bullet3"]
	path = external/bullet3
	url = https://github.com/bulletphysics/bullet3
[submodule "external/yaml"]
	path = external/yaml
	url = https://github.com/jbeder/yaml-cpp
